.texto-borde {
  -webkit-text-stroke: 2px black;
  color: transparent;
  text-align: center;
  color: lightgrey;
  text-shadow: 4px 4px grey;
  font-size: 220%;
  font-family: Impact, fantasy;

}
  body {background-image:linear-gradient(lightgreen,teal,lightblue);}
  table {border-collapse: collapse; clear: left; margin-left: auto; margin-right: auto; font-weight: bolder; border-style: outset;}
  td {border: 3px solid black; width: 70px; height: 70px; background-color: rgb(240,245,243);}
  th {border: 3px solid black; width: 70px; height: 70px; background-color: green;}
  span {text-decoration: underline;}
  .appear {display: block; text-align:center;}
  p{display: block; text-align:center;}
  div {margin-left: auto; margin-right: auto; display: none;}

  button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #D3D3D3;
  background-color: #4141D8;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px #999;
  }

  button:hover {background-color: #D3D3D3; color:#4141D8;}

  button:active {
    background-color: #D3D3D3;
    box-shadow: 0 3px #666;
    transform: translateY(4px);}
